
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenedor-imagen{
    display: flex;

}

.contenedor-text{
    display: flex;
}

img{
    width: 300px;
    height: 300px;
    margin-left: 55px;
    margin-right: 145px;
    margin-top: 70px;
    box-shadow: 5px 10px 18px black;
}

a{
    text-decoration: none;
}

h4{ 
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 150px;
    width: 100%;
    font-size: 23px;
    
}

.btn-regresar{
    display: block;
    margin: auto;
    margin-top: 90px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    font-size: 50px;
    text-align: center;
    background-color: rgb(91, 93, 239);
    color: white;
    font-family: 'Concert One', cursive;
}

/* body{
    background: linear-gradient(to top left ,rgb(86, 86, 225),white);
} */