
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO UNBOUND</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

</head>
<body>
    <header>
        <!-- <img class= "logo" src="/static/images/Logo-unbound.svg" alt="logo-unbound"> -->
        <h1 class="header">GENERADOR DE ARCHIVOS PLANOS</h1>
    </header>
    
    <div class="text-box">
        <h3>ARCHIVOS TXT</h3>
        <h3>SISTEMA SIIGO</h3>
        <h3>SISTEMA ABILA</h3>
    </div>
       
    <div class="div1">  
              
        <a href="/txt/"><img class= "img-txt" src="/static/images/imagen-txt.svg" alt="imagen-txt" title="GENERADOR TXT"></a>
        
        <a href="/siigo/"><img class="logo-siigo" src="/static/images/Logo-Siigo.png" alt="imagen-siigo" title="SISTEMA SIIGO"></a>
        
        <a href="/abila/"><img class="img-abila" src="/static/images/imagen-abila.svg" alt="imagen-abila" title="SISTEMA ABILA"></a>
    </div>


    <footer>
        <h4>Elaborado por: Darwin Steven Berrío Álvarez</h4>
    </footer>

   
        
</body>
</html>